
.article,
.article_title,
.article_content,
.view_img, {
  
  margin: 0;
  padding: 0;
  
}

.article {
  width: 500px;
  height: 350px;
  padding-top: 85px;
  padding-bottom: 15px;
  padding-left: 90px;
  padding-right: 60; 
  background-color: #ffffff;
  color: #000000;
  
}

.article.container {
  
  
  padding-top: 85px;
  padding-bottom: 15px;
  padding-left: 90px;
  padding-right: 60;
  border: 1px solid #000000;
}

.article_title {
  
  margin-bottom: 25px;
  font-family: 'Butler', serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  color: #000000;
  
}

.article_content: {
  
 text-align: right;
  font-size: 16px;
  line-height: 28px;
 
}
.view_img {
  
  float: left; 
  width: 50%;
  {


