
.services,
.services_name,
.services_link,
.services_title, {
  
  margin: 0;
  padding: 0;
  
}

.services {
  
  display: block;
  text-align: center;
}


.services_name: {
  margin: 0 15px;
  margin-bottom: 15px;
  text-align: center;
  
  font-family: 'Butler', serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  
}

.services_list {
  
  padding: 0;
  list-style: none;
  padding-top: 130px;
  padding-bottom: 40px;
  
}

.services_item {
  
  list-style: none;
  width: 25%;
  float: left;
  
}

.services_link {
  
  position: relative;
  display: block;
  box-sizing: content-box;
  margin: 0 15px;
  padding-top: 130px;
  height: 40px;
  
  text-decoration: none;
  color: inherit;
  text-align: center;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  
}

.services_title {
  
  margin-top: -3px;
  margin-bottom: 15px;
  color: #555555;
  
  font-family: 'Butler', serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  
}

.services_link:hover .services_title {
  
  color: #c7b299;
  
}




