/*  SERVICES  */


.services,
.services_name,
.services_link,
.services_title, {
  
  margin: 0;
  padding: 0;
  
}

.services {
  
  display: block;
  
  font-family: 'Butler', serif;
  font-size: 14px;
  line-height: 24px;
  
}

.services_list {
  
  padding: 0;
  list-style: none;
  padding-top: 80px;
  padding-bottom: 80px;
  
}

.services_item {
  
  list-style: none;
  width: 25%;
  float: left;
  
}

.services_link {
  
  position: relative;
  display: block;
  box-sizing: content-box;
  margin: 0 15px;
  padding-top: 78px;
  height: 135px;
  
  text-decoration: none;
  color: inherit;
  text-align: center;
  
}

.services_link::before {
  
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  width: 52px;
  margin: 0 auto;
  height: 50px;
  
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  
}

.services_link-app::before {
  
  background-position: 2px 0;
  
}

.services_link-app:hover::before {
  
  background-position: 2px -50px;
  
}

.services_link-dev::before {
  
  background-position: -299px 0;
  
}

.services_link-dev:hover::before {
  
  background-position: -299px -50px;
  
}

.services_link-cust::before {
  
  background-position: -598px -1px;
  
}

.services_link-cust:hover::before {
  
  background-position: -598px -53px;
  
}

.services_link-mark::before {
  
  background-position: -898px 0px;
  
}

.services_link-mark:hover::before {
  
  background-position: -898px -50px;
  
}

.services_link::after {
  
  content: "";
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  width: 70px;
  margin: 0 auto;
  height: 3px;
  background-color: #f1eee9;
  
}

.services_link:hover::after {
  
  background-color: #c7b299;
  
}

.services_title {
  
  margin-top: -3px;
  margin-bottom: 15px;
  color: #555555;
  
  font-family: 'Butler', serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  
}

.services_link:hover .services_title {
  
  color: #c7b299;
  
}

.services_description {
  
  color: #8c8c8c;
  
}


/*  /SERVICES  */